In [11]:
import pandas as pd

In [9]:
# Read the excel file into a pandas dataframe
df = pd.read_excel("/Users/kmnike/Desktop/VCF_Excel_Sheets/SampleDatabase_updated_ecogroups.xlsx")

# Create a dictionary to map Unique_Organism to Rechecked_Ecogroup
eco_map = df.set_index('Unique_Organism')['Rassigned_Ecogroup'].to_dict()

# Use map to apply the eco_map to Organism column and create a new column named "Remapped_Ecogroups"
df['Remapped_Ecogroups'] = df['Organism'].map(eco_map)

# Print the updated dataframe
df

,SampleID,RunID,ReadLength,TotalBases,ProjectID,Instrument,LibraryID,LibraryLayout,LibrarySource,Platform,File,Organism,Ecogroup,Unique_Organism,Rechecked_Ecogroup,Citation,Remapped_Ecogroups
0,SAMEA1904331,ERR299206,200,5760780600,PRJEB1254,Illumina HiSeq 2000,6811014,PAIRED,GENOMIC,ILLUMINA,PRJEB1254/ERR299206.unmapped_marked_adapters.bam,Alticorpus geoffreyi,Deep Benthic,Alticorpus geoffreyi,Deep Benthic,Malinsky_2019_Phylogeny_Supplemental Paper,Deep Benthic
1,SAMEA1904331,ERR299215,200,5754979800,PRJEB1254,Illumina HiSeq 2000,6811014,PAIRED,GENOMIC,ILLUMINA,PRJEB1254/ERR299215.unmapped_marked_adapters.bam,Alticorpus geoffreyi,Deep Benthic,Alticorpus macrocleithrum,Deep Benthic,Malinsky_2019_Phylogeny_Supplemental Paper,Deep Benthic
2,SAMEA1904331,ERR295132,200,5607303800,PRJEB1254,Illumina HiSeq 2000,6811014,PAIRED,GENOMIC,ILLUMINA,PRJEB1254/ERR295132.unmapped_marked_adapters.bam,Alticorpus geoffreyi,Deep Benthic,Alticorpus peterdaviesi,Deep Benthic,https://www.cell.com/cms/10.1016/j.isci.2019.0...,Deep Benthic
3,SAMEA1877429,ERR266498,200,5152679800,PRJEB1254,Illumina HiSeq 2000,6526386,PAIRED,GENOMIC,ILLUMINA,PRJEB1254/ERR266498.unmapped_marked_adapters.bam,Alticorpus macrocleithrum,Deep Benthic,Andinoacara coeruleopunctatus,Riverine,skip,Deep Benthic
4,SAMEA1877429,ERR271651,200,5251306000,PRJEB1254,Illumina HiSeq 2000,6526386,PAIRED,GENOMIC,ILLUMINA,PRJEB1254/ERR271651.unmapped_marked_adapters.bam,Alticorpus macrocleithrum,Deep Benthic,Aristochromis christyi,Shallow Benthic,"Ad Konings Book of Cichlids, pg 50; 2-10m dept...",Deep Benthic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,SAMEA4033302,ERR1757757,302,31711443560,PRJEB15289,HiSeq X Ten,DN461234K:D3,PAIRED,GENOMIC,ILLUMINA,PRJEB15289/ERR1757757.unmapped_marked_adapters...,Tyrannochromis macrostoma,Shallow Benthic,NaN,NaN,NaN,Shallow Benthic
681,SAMEA4032105,ERR1749547,302,33527928562,PRJEB15289,HiSeq X Ten,DN461234K:A3,PAIRED,GENOMIC,ILLUMINA,PRJEB15289/ERR1749547.unmapped_marked_adapters...,Tyrannochromis nigriventer,Shallow Benthic,NaN,NaN,NaN,Shallow Benthic
682,SAMEA4033301,ERR1749548,302,31361555118,PRJEB15289,HiSeq X Ten,DN461234K:B3,PAIRED,GENOMIC,ILLUMINA,PRJEB15289/ERR1749548.unmapped_marked_adapters...,Tyrannochromis nigriventer,Shallow Benthic,NaN,NaN,NaN,Shallow Benthic
683,SAMEA4032106,ERR1749549,302,34238240112,PRJEB15289,HiSeq X Ten,DN461234K:C3,PAIRED,GENOMIC,ILLUMINA,PRJEB15289/ERR1749549.unmapped_marked_adapters...,Tyrannochromis nigriventer,Shallow Benthic,NaN,NaN,NaN,Shallow Benthic
684,SAMEA3388855,ERR1081367,250,14060940500,PRJEB1254,Illumina HiSeq 2000,14544796,PAIRED,GENOMIC,ILLUMINA,PRJEB1254/ERR1081367.unmapped_marked_adapters.bam,Tyrannochromis nigriventer,Shallow Benthic,NaN,NaN,NaN,Shallow Benthic

In [10]:
df.to_excel("/Users/kmnike/Desktop/VCF_Excel_Sheets/test_out.xlsx", index=False)

In [ ]:
 df = pd.read_excel(self.sample_database, sheet_name = 'vcf_samples') # This line generates a pandas dataframe using the "sample_database" attribute so we can use it below:
        # lot going on with the below lines.
        # self.s_dt[self.s_dt.Ecogroup.isin(self.ecogroups)] is returning all rows where the self.ecogroups values are contained in the "Ecogroup" column of the excel sheet
        # The .SampleID.unique() is filtering these rows to include only unique values in the SampleIDs column. However, this creates a numpy array so the pd.DataFrame wrapper around the whole thing converts this numpy array to a pandas dataframe. 
        # The to_csv(self.good_samples_txt, header = False, index = False) converts into a csv file that bcftools will be able to take as input. The index/header = False eliminate any index/header information, leaving only filtered samples. 
        # Note that the name of the output file is self.good_samples.txt which is where the file pathing for the output file is taken care of
ecogroups = 
df_filtered = df[df.Ecogroup.isin(ecogroups)]
        pd.DataFrame(self.df_filtered.SampleID.unique()).to_csv(self.good_samples_csv, header = False, index = False)
        self.df_filtered['metadata_id'] = self.df_filtered['SampleID'] + "_" + self.df_filtered['Ecogroup']
        self.df_filtered[['SampleID', 'metadata_id']].to_csv(self.metadata_csv, index = False)

In [32]:
# Load the two sheets into dataframes
df1 = pd.read_excel('/Users/kmnike/Desktop/VCF_Excel_Sheets/SampleDatabase.xlsx', sheet_name='vcf_samples')
df2 = pd.read_excel('/Users/kmnike/Desktop/VCF_Excel_Sheets/SampleDatabase_old.xlsx', sheet_name='vcf_samples')

# Merge the two dataframes based on the SampleID column
merged = pd.merge(df1, df2, on='SampleID', suffixes=('_1', '_2'))
# merged

# Find the rows where the Ecogroup values are different between the two sheets
diff = merged[merged['Ecogroup_1'] != merged['Ecogroup_2']]

# Print the rows where the Ecogroup values are different
diff = diff[['SampleID', 'Ecogroup_2']].reset_index(drop=True)
diff

        SampleID       Ecogroup_2
0   SAMEA2661258  Shallow_Benthic
1   SAMN06685759         Riverine
2   SAMEA6147768               AC
3   SAMEA2661248     Deep_Benthic
4   SAMEA2661259  Shallow_Benthic
5   SAMEA3388870     Diplotaxodon
6   SAMEA4032099     Deep_Benthic
7   SAMEA4032103  Shallow_Benthic
8   SAMEA4033299  Shallow_Benthic
9   SAMEA4032104  Shallow_Benthic
10  SAMEA4033300  Shallow_Benthic
11  SAMEA4032101  Shallow_Benthic
12  SAMEA4033297  Shallow_Benthic
13  SAMEA4032102  Shallow_Benthic
14  SAMEA4033298  Shallow_Benthic
15  SAMN06685712  Shallow_Benthic
16  SAMN06685754            Utaka

In [40]:
mismatch = pd.read_excel('/Users/kmnike/Desktop/VCF_Excel_Sheets/SampleDatabase.xlsx', sheet_name='Mismatch')
matched_samples = mismatch['SampleID'].isin(diff['SampleID'])
print(matched_samples)
print(mismatch['SampleID'])

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17    False
Name: SampleID, dtype: bool
0     SAMEA2661258
1     SAMN06685759
2     SAMEA6147768
3     SAMEA2661248
4     SAMEA2661259
5     SAMEA3388870
6     SAMEA4032099
7     SAMEA4032103
8     SAMEA4033299
9     SAMEA4032104
10    SAMEA4033300
11    SAMEA4032101
12    SAMEA4033297
13    SAMEA4032102
14    SAMEA4033298
15    SAMN06685712
16    SAMN06685754
17    SAMN06685755
Name: SampleID, dtype: object

In [64]:
old = pd.read_csv('/Users/kmnike/Desktop/EigenFiles/csv_files/filtered_samples.csv')
new = pd.read_csv('/Users/kmnike/Desktop/EigenFiles/csv_files/metadata_for_R.csv')

In [66]:
match = new['metadata_id'].isin(old['metadata_id'])
matches

0       True
1       True
2      False
3       True
4       True
       ...
315     True
316     True
317     True
318     True
319     True
Name: metadata_id, Length: 320, dtype: bool

In [59]:
compare = pd.merge(new, old, on='SampleID')
compare

         SampleID                 metadata_id_x                 metadata_id_y
0    SAMEA1904331     SAMEA1904331_Deep_Benthic     SAMEA1904331_Deep_Benthic
1    SAMEA1877429     SAMEA1877429_Deep_Benthic     SAMEA1877429_Deep_Benthic
2    SAMEA2661258     SAMEA2661258_Deep_Benthic  SAMEA2661258_Shallow_Benthic
3    SAMEA4032098  SAMEA4032098_Shallow_Benthic  SAMEA4032098_Shallow_Benthic
4    SAMN06685761  SAMN06685761_Shallow_Benthic  SAMN06685761_Shallow_Benthic
..            ...                           ...                           ...
315  SAMEA4033302  SAMEA4033302_Shallow_Benthic  SAMEA4033302_Shallow_Benthic
316  SAMEA4032105  SAMEA4032105_Shallow_Benthic  SAMEA4032105_Shallow_Benthic
317  SAMEA4033301  SAMEA4033301_Shallow_Benthic  SAMEA4033301_Shallow_Benthic
318  SAMEA4032106  SAMEA4032106_Shallow_Benthic  SAMEA4032106_Shallow_Benthic
319  SAMEA3388855  SAMEA3388855_Shallow_Benthic  SAMEA3388855_Shallow_Benthic

[320 rows x 3 columns]

In [60]:
compare['metadata_id_x'].equals(compare['metadata_id_y'])

False